
# Symfony / PHP
/vendor/
/var/
/.env.local
/.env.local.php
/.env.test
/.phpunit.result.cache

# Composer
/composer.lock

# Node / Vue
/node_modules/
/dist/
/npm-debug.log
/yarn-error.log

# IDEs / OS
/.idea/
/.vscode/
*.swp
*.DS_Store

# Symfony secrets
/config/secrets/prod/
